<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>This is the home page 1 * 2</h1>
  <!-- <h3> <%= 1 * 2 %> </h3> -->
   <!-- <h3><%= "apnaCollege".toUpperCase() %></h3> -->
    <h3> <%= ["hello", "assalamualikum", "namaste"] [1] %> </h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eius quaerat ducimus cumque,
     corporis quod, dolore doloremque quidem minus distinctio iste quibusdam earum id repellat 
     laborum. Quia nihil possimus animi!
  </p>
  <button>Click me!</button>
</body>
</html>